/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/**
Common start
*/

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: minmax(200px, 2fr) 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 2em;
}

#video {
  grid-column: 1;
  grid-row: 1 / span 2;
  display: flex;
  row-gap: 1em;
  flex-direction: column;
  height: 93vh;
}

#userVideos {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 0.8em;
  margin-bottom: 1em;
}

#videoTitle {
  position: absolute;
  padding-bottom: 1em;
}

figure {
  position: relative;
  margin-top: 1.5em;
}
video {
  display: block;
  max-width: 100%;
  border-radius: 2em 1em;
}
figcaption {
  font-size: 120%;
  text-align: center;
  display: inline-block;
  position: absolute;
  margin-top: -2em;
  margin-left: 1em;
  color: white;
  background-color: black;
  padding: 0.5em 1em 0.2em 1em;
  border-radius: 2em;
}

#selfVideo {
  border-radius: 1em 2em;
}


#data {
  grid-column: 2;
  grid-row: 2;
  padding-top: 6em;
  background-color: #FF8040;
  padding-left: 0.25em;
  border: 4px solid #000000;
}


/**
Common end
*/



/**
David start
*/
#home-page main{
  background-color: #FAC898;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5em;
  margin-left: 20%;
  margin-right: 20%;
}

#ButtonOptions{
  display: flex;
  align-items: flex-end;
  background-color: white;
  gap: 0.5em;
}
#CreateFormButton{
  margin-top: 1em;
  width: 9em;
  color: white;
  background-color: green;
}
#JoinFormButton{
  margin-top: 1em;
  width: 9em;
  color: white;
  background-color: green;
}

#JoinForm{
  background-color: black;
  width: 20em;
  padding: 1em;
  margin-left: 5em;
  text-align: center;
  border-radius: 10px;
  border: 4px solid white;
}

#JoinPopUp {
  background-color: #FAC898;
  position: relative;
  margin-top: 9em;
}

#CreatePopUp {
  background-color: #FAC898;
  position: relative;
  margin-top: 10em;
}

#CreateForm{
  background-color: black;
  width: 20em;
  padding: 1em;
  text-align: center;
  border-radius: 10px;
  border: 4px solid white;
}


/**
David end
*/



/**
Michael start
*/
html {
  background-color: #FAC898;
}

div.addvid {
  text-align: center;
  margin-top: 6em;
  margin-left: 30em;
  padding-top: 12em;
  padding-bottom: 5em;
  padding-left: 16em;
  padding-right: 16em;
  background-color: #242526;
  border-radius: 25px;
  width: 200px;
  height: 150px;
}

button.addvid {
  display: inline-block;
  background-color: #FFA500;
  color: #000000;
  font-weight: bold;
  border: 0;
  line-height: 1;
  padding: 10px;
  border-radius: 10px;
  width: 120px;
}

#chat-head {
  position: relative;
  padding-bottom: 5px;
  bottom: 6em;
  padding-left: 1em;
  margin-top: 1em;
  font-weight: bold;
  border-bottom: 4px solid #FAC898;
}

#your-username {
  background-color: inherit;
  border: 1px solid #CCC;
  color: #EEE;
  padding: 5.5px;
}

#username-button {
  margin-left: 5.5px;
  padding: 5.5px;
}

#chat-box {
 padding: 5px;
 background-color: white;
}

#send-chat {
 color: white;
 background-color: green;
 border-radius: 5px;
 border: 2px solid white;
}

#closechat {
 color: black;
 background-color: red;
 border-radius: 5px;
 border: 2px solid white;
 float: right;
 position: relative;
 bottom: 8.5em;
}

#light, #dark {
  float: right;
  position: relative;
  bottom: 8.5em;
  background-color: black;
  color: white;
}

#openchat {
 color: black;
 background-color: green;
 border-radius: 5px;
 border: 2px solid white;
 position: relative;
 bottom: 5em;
 margin-left: 16em;
 padding: 1.5em;
}

#chat-log {
  padding-top: 10em;
}

#message {
  margin-left: 3px;
  margin-bottom: 3px;
  height: 1.5em;
  width: 34em;
  border-radius: 10px;
  border: 2px solid white;
}

#chat-log .self {
  background: #BFEFFF;
  text-align: right;
  border: 0.25em;
  padding: 0.5em;
  border-radius: 15px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#chat-log .undefined {
  background: #D3D3D3;
  text-align: left;
  border: 0.25em;
  padding: 0.5em;
  border-radius: 15px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ol {
  padding-bottom: 1em;
}

/**
Michael end
*/



/**
Chiachi start
*/

/* Style the header with a background */
header {
  background-color: #f1f1f1;
  padding: 10px 10px;
}

/* Style the header */
header a, header span {
  display: block;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 12px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo */
header a.logo {
  font-size: 25px;
  font-weight: bold;
  color: #cc6600;
}


/* Style for button */
header a.button {
  background-color: dodgerblue;
  color: white;
}

header .welcome {
  color: #cc6600;
}

#player {
  order: 1;
  flex: 1 0 auto;
}

#spacebar {
  text-align: center;
  order: 2;
}

#spacebar > span {
  display: inline-block;
  font-size: 30px;
  color: brown;
}

#spacebar #toggle-video-sound {
  margin-left: 1em;
  color: blue;
}

/* Responsive Design */
@media only screen and (min-width: 768px) {
  header a, header span  {
    display: inline;
  }

  /* Float the link section to the right */
  .header-right {
    float: right;
  }
}


/**
Chiachi end
*/
