/**
Common start
*/
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/**
Common end
*/



/**
David start
*/



/**
David end
*/



/**
Michael start
*/
html {
  background-color: #FAC898;
}

div.addvid {
  text-align: center;
  margin-top: 6em;
  margin-left: 30em;
  padding-top: 12em;
  padding-bottom: 5em;
  padding-left: 16em;
  padding-right: 16em;
  background-color: #242526;
  border-radius: 25px;
  width: 200px;
  height: 150px;
}

button.addvid {
  display: inline-block;
  background-color: #FFA500;
  color: #000000;
  font-weight: bold;
  border: 0;
  line-height: 1;
  padding: 10px;
  border-radius: 10px;
  width: 120px;
}

/**
Michael end
*/



/**
Chiachi start
*/



/**
Chiachi end
*/
